<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Language Translator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>IMAGE TEXT LANGUAGE TRANSLATOR</h1>
    <div class="container">
        <form id="translation-form" action="/" method="POST" enctype="multipart/form-data">
            <label for="image">Upload Image:</label>
            <input type="file" id="image" name = "image" accept="image/*" required>
            <button type="submit">Translate</button>
        </form>
        <div>
            <label for="targetlanguage" style>Translate to:</label>
            <select id="targetlanguage" name="targetlanguage" class="form-control" required>
                <option value="">--Select Language--</option>
                <option value="en">English</option>
                <option value="es">Spanish</option>
                <option value="fr">French</option>
                <option value="de">German</option>
                <option value="ja">Japanese</option>
                <option value="ko">Korean</option>
                <option value="zh">Chinese</option>
            </select>
        </div>
    </div>
</body>
</html>
